apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
  namespace: {{ .Values.namespace }}
data:
  zabbix.yaml: |
    apiVersion: 1
    datasources:
      - name: Zabbix
        type: alexanderzobnin-zabbix-datasource
        access: proxy
        url: http://zabbix-web-service.zabbix.svc.cluster.local/api_jsonrpc.php
        basicAuth: false
        editable: true
        jsonData:
          username: Admin
          password: {{ .Values.zabbix.adminPassword | default "zabbix" }}
          sendNoData: true
